body {
    background: pink;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.card {
    background-image: url('image/backg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    width: 900px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Заголовок */
h1 {
    color: rgb(226, 74, 150);
    font-size: 40px;
}

h1 span {
    font-size: 60px;
    font-weight: bold;
}

/* Контент */
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Ліва частина */
.left img {
    width: 300px;
    border-radius: 20px;
}

/* Права частина (відео) */
.right video {
    width: 300px;
    border-radius: 20px;
}



img {
    width: 100px;
}


.left img,
.right video {
    display: block;
    border-radius: 20px;
}

.left img {
    margin-left: 75px;
    display: block;
}
.right video{
    margin-right: 75px;
}
